In [1]:
import nltk
import matplotlib
import re
import pandas as pd

In [5]:
from google.colab import files
uploaded = files.upload()

Saving mailInput.txt to mailInput.txt

In [14]:
from google.colab import files
uploaded = files.upload()

Saving dates.xlsx to dates.xlsx

# 1- Extraire des adresses emails

Le fichier ‘mailInput.txt’ contient des adresses emails. Il s’agit d’extraire ces
adresses à l’aide d’expressions régulières (les plus simples possibles) et de les
insérer dans un fichier ‘mailOutput.txt’, une par ligne.

### a. Commencer par définir une fonction ‘extractMail’ qui prend en entrée un texte et retourne une liste d’adresses (tip : utiliser re.findall() ).

In [2]:
def extractMail(line):
    match = re.findall(r'[\w.+-]+@[\w-]+\.[\w.-]+', line)
    return(match)

### b. Lire le contenu de mailInput.txt dans une variable ‘inputContent’.

In [6]:
f = open("mailInput.txt", "r")
inputContent =''
for x in f:
  inputContent = inputContent+x

inputContent

'Ex turba @finançai vero imae sortis et paupertinae in tabernis 0d908j aliqui ucisad.ves56peram.sole@fatiscunt.pernoct.ant vinariis, non nulli velariis umbraculorum theatralium latent, quae Campanam imitatus lasciviam Catulus in aedilitate sua suspendit omnium primus; aut pugnaciter aleis pl799jow9q.accordât.pressurisé@aimerais.n5gym.fr certant turpi sono desservaient.suspendît.frâgosiss@théâtres.fr fragosis naribus introrsum incorporassions.souplesse.congelant@ébruitée.tv reducto spiritu concrepantes; aut quod est studiorum omnium maximum ab ortu lucis ad vesperam sole fatiscunt vel pluviis, (prospectus.retoumânes@pressâtes.equorumque.net) per minutias aurigarum equorumque praecipua vel delicta scrutantes.\nSed fruatur sane hoc solacio atque hanc.é78.insignem@ignominiam.qu uni praeter se inusta sit, putet esse leviorem, dum modo, cuius exemplo se consolatur, foot@\nenvenimer@transplantent.tv  eius exitum expectet, praesertim cum in Albucio nec Pisonis libidines nec audacia Gabini fuerit ac tamen hac una plaga conciderit, ignominia senatus.\nEquitis Romani autem esse filium criminis loco poni ab accusatoribus.neque@his.iudicantibus oportuit neque defendentibus nobis.  <excitants.lançait.engraisse.ravalera@mordrai.quidem.tv> Nam quod de pietate dixistis, est quidem ista nostra existimatio, sed iudicium certe parentis; quid nos opinemur, audietis ex iuratis; quid parentes sentiant, lacrimae matris incredibilisque maeror, squalor patris et toisâtes.apeurées.2tàv4@rapointissait.net haec praesens maestitia, quam cernitis, luctusque declarat.'

### c. Ecrire le résultat de l’appel de la fonction extractMail sur inputContent dans le fichier résultat mailOutput.

In [8]:
lines = extractMail(inputContent)
with open('mailOutput.txt', 'w') as f:
    for line in lines:
        f.write(line)
        f.write('\n')

### d. Afficher le résultat.

In [9]:
lines

['ucisad.ves56peram.sole@fatiscunt.pernoct.ant',
 'pl799jow9q.accordât.pressurisé@aimerais.n5gym.fr',
 'desservaient.suspendît.frâgosiss@théâtres.fr',
 'incorporassions.souplesse.congelant@ébruitée.tv',
 'prospectus.retoumânes@pressâtes.equorumque.net',
 'hanc.é78.insignem@ignominiam.qu',
 'envenimer@transplantent.tv',
 'accusatoribus.neque@his.iudicantibus',
 'excitants.lançait.engraisse.ravalera@mordrai.quidem.tv',
 'toisâtes.apeurées.2tàv4@rapointissait.net']

### e. Une adresse valide ne doit pas contenir plus d’un point ‘.’ après le caractère ‘@’ et au plus deux ou trois caractères après le ‘.’ (ex. attachement.bonjour@monecole.tif’). A partir de la liste des résultats retournés par la fonction extractMail, créer une nouvelle liste ‘valid’ qui contient les adresses valides (tip : utiliser une liste comprehension et re.match).

In [10]:
regex = re.compile(r'\S+.[a-z0-9 A-zÀ-ú]+[\._]?[a-z0-9 A-zÀ-ú]+[@]+[A-zÀ-ú]+[.]\w{2,3}$')
valid = []
for line in lines:
    if re.match(regex, line):
      valid.append(line)

### f. Ecrire le résultat dans un fichier ‘mailOutputValid.txt’.

In [11]:
with open('mailOutputValid.txt', 'w') as f:
    for line in valid:
        f.write(line)
        f.write('\n')

### g. Afficher la liste.

In [12]:
valid

['desservaient.suspendît.frâgosiss@théâtres.fr',
 'incorporassions.souplesse.congelant@ébruitée.tv',
 'hanc.é78.insignem@ignominiam.qu',
 'envenimer@transplantent.tv',
 'toisâtes.apeurées.2tàv4@rapointissait.net']

# 3- Extraire des dates

### a. Utiliser la bibliothèque Pandas pour charger le fichier dates.xlsx dans un dataframe df :

In [15]:
df = pd.read_excel(r'dates.xlsx', header=None, names=['text'])

In [16]:
df

                                                 text
0              Richard Stallman, born March 16, 1953.
1   attended university from 15/03/1967 to 10-03-1...
2   By the spring of 1985, nearly 15 March 1985, h...
3   To meet this goal, however, he faced two chall...
4   First, he had to rebuild Emacs in a way that m...
5   Second, he had to rebuild the Emacs Commune in...
6   Such speculation benefits from the fast and lo...
7   As Steve Silberman, author of " The Geek Syndr...
8   American psychiatrists have only recently come...
9   To facilitate the process, AI Lab hackers on M...
10  Despite this innovative hack, switching from m...

### b. Trouver le nombre de caractères dans chaque texte de df[‘text’]

In [17]:
df['text'].str.len()

0      38
1      50
2     141
3      80
4      95
5      97
6     148
7      76
8     154
9     148
10     98
Name: text, dtype: int64

### c. Trouver le nombre de tokens dans chaque texte de df[‘text’].

In [22]:
for i in df.index:
  print(len(df['text'][i].split(' ')))

6
6
24
14
17
18
23
14
24
27
17

### d. Trouver le lignes qui contiennent le mot ‘Emacs’

In [23]:
df['text'].str.contains('Emacs')

0     False
1     False
2      True
3     False
4      True
5      True
6     False
7     False
8     False
9     False
10    False
Name: text, dtype: bool

###  e. Trouver combien de fois un chiffre (digit) apparaît dans chaque chaîne de caractère

In [24]:
df['text'].str.count(r'[0-9]')

0      6
1     16
2     10
3      6
4      8
5     14
6      6
7      6
8      6
9      6
10     6
Name: text, dtype: int64

###  f. Trouver toutes les occurrences des chiffres.

In [25]:
df['text'].str.findall(r'[0-9]')

0                                   [1, 6, 1, 9, 5, 3]
1     [1, 5, 0, 3, 1, 9, 6, 7, 1, 0, 0, 3, 1, 9, 7, 0]
2                       [1, 9, 8, 5, 1, 5, 1, 9, 8, 5]
3                                   [0, 5, 1, 9, 8, 2]
4                             [2, 2, 0, 3, 1, 9, 9, 0]
5           [1, 6, 0, 3, 1, 9, 8, 0, 1, 5, 1, 9, 8, 5]
6                                   [1, 6, 2, 0, 1, 0]
7                                   [2, 4, 2, 0, 1, 2]
8                                   [1, 2, 0, 3, 0, 5]
9                                   [2, 5, 2, 0, 1, 6]
10                                  [0, 7, 2, 0, 2, 0]
Name: text, dtype: object

### g. Remplacer dans toutes les chaines ‘Mar’ ou ‘March’ par ‘ !!!’

In [26]:
df['text'].str.replace('Mar','!!!')
df['text'].str.replace('March','!!!')

0                  Richard Stallman, born !!! 16, 1953.
1     attended university from 15/03/1967 to 10-03-1...
2     By the spring of 1985, nearly 15 !!! 1985, he ...
3     To meet this goal, however, he faced two chall...
4     First, he had to rebuild Emacs in a way that m...
5     Second, he had to rebuild the Emacs Commune in...
6     Such speculation benefits from the fast and lo...
7     As Steve Silberman, author of " The Geek Syndr...
8     American psychiatrists have only recently come...
9     To facilitate the process, AI Lab hackers on M...
10    Despite this innovative hack, switching from m...
Name: text, dtype: object

### h. Définir les expressions régulières nécessaires pour extraire l’ensemble des dates dans le texte. Stocker chaque regex dans une variable de type string.

In [27]:
regex1 = r"[\S]{2} [ADFJMNOS]\w{2}\s[\S]{4}"  #dd Mar yyyy  ono 
regex2 = r"[\S]{1,2}-[\S]{2}-[\S]{4}" #dd-03-yyyy                ok
regex3 = r"[\S]{1,2}\/[\S]{2}\/[\S]{4}" #dd/03/yyyy              ok
regex4 = r"[\d]{1,2} [ADFJMNOS]\w* [\d]{4}" #dd March yyyy 
regex5 = r"[ADFJMNOS]\w{2}\s[\S]{2}[,]\s[\S]{4}" #Mar dd, yyyy  ok
regex6 = r"[\d]{1,2}\/[\d]{2}\/[\d]{2}" #dd/03/yy              ok
regex7 = r"[ADFJMNOS]\w*\s[\S]{2}[,]\s[\S]{4}" #March dd, yyyy ok

### i. Créer un nouveau dataframe à partir des dates extraites

In [28]:

lisst = [regex1,regex2,regex3,regex4,regex5,regex6,regex7]

In [29]:
data = []
for i in range(df.size):
    for j in range(len(lisst)):
        if (re.findall(lisst[j], df['text'][i])):
            data.append(re.findall(lisst[j], df['text'][i]))

df2 = pd.DataFrame(data)

In [30]:
df2

                 0
0   March 16, 1953
1       10-03-1970
2       15/03/1967
3         15/03/19
4    15 March 1985
5    05 March 1982
6       22-03-1990
7       16/03/1980
8     Mar 15, 1985
9         16/03/19
10    Mar 15, 1985
11     16 Mar 2010
12     16 Mar 2010
13   24 March 2012
14        12/03/05
15    Mar 25, 2016
16    Mar 25, 2016
17    Mar 07, 2020
18    Mar 07, 2020